<ion-view title="Home">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer">

    {{ doge.get('coin') }}
    {{ doge.get('step') }}

  </ion-content>

  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons" ng-click="submit()">
      <button class="button">Doge!</button>
    </div>
    <h1 class="title">&#272; {{ doge.get('coin') }}</h1>
    <div class="buttons">
      <button class="button" ng-click="doge.down()" style="min-width:5em">
        -
      </button>
      <button class="button" ng-click="doge.up()" style="min-width:5em">
        +
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
